<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Emprega Angola Direitos Reservados, 2024</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Termos de Uso</a>
        </li>
      </ul>
    </nav>
    <div>
      Desenvolvido pela <a target="_blank" href="#">Lestech</a>.
    </div>
  </div>
</footer>
