        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-secondary mt-5 pt-5" style="margin-top: 0px !important;">
            <div class="row px-xl-5 pt-5">
              <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">

                <ul class="list-group list-group-flush" >
                  <li class="list-group-item" style="background-color: transparent !important; border: 0px !important;">
                    <img class="img-fluid w-100" src="/imagens/EA-Logo.png" alt="">
                  </li>
                  <li class="list-group-item" style="background-color:transparent!important;">
                    <div class="d-flex" style="justify-content:center;">
                      <a class="btn-square"
                         href="#"
                         style="display:inline-block; transition:0.3s;">
                        <img src="/imagens/linkedin.png" style="width:40px;" onmouseover="this.style.transform='translateY(-8px)'" onmouseout="this.style.transform='translateY(0)'">
                      </a>
                      <a class="btn-square mr-2" href="#" style="margin:0px 5px 0px 5px;">
                        <img src="/imagens/facebook.png" style="width:40px;" onmouseover="this.style.transform='translateY(-8px)'" onmouseout="this.style.transform='translateY(0)'">
                      </a>
                      <a class="btn-square mr-2" href="#">
                        <img src="/imagens/twitter.png" style="width:40px;" onmouseover="this.style.transform='translateY(-8px)'" onmouseout="this.style.transform='translateY(0)'">
                      </a>
                    </div>
                  </li>
                </ul>


                

                

              </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                          <h5 class="textsecondary text-uppercase mb-4 txt-rodape">EMPREGA ANGOLA</h5>
                          <div class="d-flex flex-column justify-content-start">
                            <a class="txt-secondary mb-2 txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Home
                            </a>
                            <a class="txt-secondary mb-2 txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Nossos Serviços
                            </a>
                            <a class="txt-secondary mb-2 txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Formação Profissional
                            </a>
                            <a class="txt-secondary mb-2 txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              ManPower
                            </a>
                            <a class="txt-secondary mb-2 txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Portal do Empregador
                            </a>
                            <a class="txt-secondary txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Portal do Candidato
                            </a>
                            <a class="txt-secondary txt-rodape" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                              Vagas
                            </a>

                          </div>
                        </div>
                        <div class="col-md-4 mb-5">
                          <h5 class="textsecondary text-uppercase mb-4 txt-rodape">LINKS RÁPIDOS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="txt-secondary mb-2 txt-rodape" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                                    Nós
                                </a>
                                <a class="txt-secondary mb-2 txt-rodape" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                                    Serviços
                                </a>
                                <a class="txt-secondary mb-2 txt-rodape" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                                    Contactos
                                </a>
                                <a class="txt-secondary mb-2 txt-rodape" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                                    Cursos
                                </a>
                                <a class="txt-secondary mb-2 txt-rodape" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                                    Politica de Privacidade
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                          <h5 class="textsecondary text-uppercase mb-4 txt-rodape">CONTACTOS</h5>
                            <div class="d-flex flex-column justify-content-start">
                              <a class="txt-secondary mb-2 txt-rodape" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>
                               geral@empregangola.com
                              </a>
                              <a class="txt-secondary mb-2 txt-rodape" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>+244 9xx xxx xxx
                              </a>
                              <a class="txt-secondary mb-2 txt-rodape" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d95327"><path d="M400-280v-400l200 200-200 200Z" /></svg>+244 9xx xxx xxx
                              </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
</div>
<!-- Footer End -->

<div class="container-fluid  bg-rodape rodape-detalhes">
   Copyright © 2025 Emprega Angola - Todos os direitos reservados | Desenvolvido por Lestech
</div>


