<app-header></app-header>

<!-- Hero -->
<div class="vaga-hero-wrapper">
  <div class="vaga-hero">
    <div class="vaga-hero-imagem"></div>
    <div class="vaga-hero-overlay"></div>

    <div class="container-fluid px-2 px-md-3 px-xl-5">
      <div class="vaga-hero-conteudo">
        <h1 class="vaga-hero-titulo">Formulário de Candidatura</h1>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- Barra utilitária -->
<div class="container-fluid vaga-barra-utilitaria py-3">
    <div class="row px-3 px-md-4 px-xl-5 align-items-center">
        <div class="col-lg-6">
            <a href="/vagas" class="vaga-voltar">
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px" fill="#1a1207"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
                Voltar a Todas as Vagas
            </a>
        </div>

        
  </div>
</div>
<!-- Barra utilitária End -->

<div class="container-fluid mt-5" style="margin-bottom: 100px;">
    <div class="row px-2 px-md-3 px-xl-5">
        <h4 class="vaga-semelhantes-titulo">Formulário de Candidatura</h4>
        <div class="col-lg-8">
            <div class="vaga-descricao-card">
                <div class="mb-4">
                    <label for="nome" class="form-label fl">Nome</label>
                    <input type="text" class="form-control campos-input" id="nome" placeholder="Insira o seu nome">
                </div>

                <div class="mb-4">
                    <label for="nome" class="form-label fl">Último Nome</label>
                    <input type="text" class="form-control campos-input" id="nome" placeholder="Insira o seu Último Nome">
                </div>

                <div class="mb-4">
                    <label for="nome" class="form-label fl">Email</label>
                    <input type="text" class="form-control campos-input" id="nome" placeholder="Insira o seu Email">
                </div>

                <div class="mb-4">
                    <label for="nome" class="form-label fl">Telefone</label>
                    <input type="text" class="form-control campos-input" id="nome" placeholder="Insira o seu Telefone">
                </div>

                <div class="mb-4" style="margin: 0px !important; padding: 0px !important;">
                    <label for="nome" class="form-label fl">Carregar Ficheiro</label>
                </div>
                <div class="input-group mb-4">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>

                <div class="mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label fl" for="flexCheckChecked" style="padding-left: 10px; padding-top: 1px;">
                        Li os termos de Serviço 
                    </label>
                </div>

                <p style="font-size: 0.80rem; margin-bottom:35px;">
                    Ao candidatar-se, autoriza a ITDS Polska sp. z o.o. a tratar os seus dados pessoais para fins de recrutamento. Os dados poderão também ser utilizados para o informar sobre vagas semelhantes, realizar verificações de antecedentes (quando legalmente permitido) e manter contacto consigo. Pode retirar o seu consentimento a qualquer momento. Tem ainda os direitos de acesso, retificação, eliminação, portabilidade e oposição ao tratamento dos seus dados. Para mais informações, consulte a Política de Privacidade da empresa.
                </p>

                <div class="input-group mb-3">
                    <a href="#" class="vaga-btn-candidatar">Candidatar-se</a>
                </div>
                

            </div>
        </div>

        <!-- Sidebar Benefícios -->
        <div class="col-lg-4">
           
            <!-- Vagas Semelhantes -->
            <div class="container-fluid pb-5">
                <div class="row ">
                    <div class="col-lg-12 col-md-6 pb-3 vaga-alerta-card">
                        <a href="/vaga" class="vaga-semelhante-card">
                             <h4 class="vaga-semelhantes-titulo" style="padding-left: 0px !important; ">Detalhes da Vaga</h4>
                             <hr/>
                            <h6>Desenvolvedor(a) Full-Stack Java Sénior – API & Microserviços</h6>
                            <p>As a Mid-Level C#/.NET Software Developer, you will be working for our client, a dynamic technology-focused company committed to delivering robust software solutions. </p>
                            <div class="vaga-semelhante-meta">
                            <span class="vaga-tag">Luanda</span>
                            <span class="vaga-tag">Remoto</span>
                            <span class="vaga-tag">Remoto</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
