<app-auth-layout>
  <span title>Registar</span>

  <form (ngSubmit)="onRegister()" #registerForm="ngForm">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome Completo</mat-label>
      <input matInput name="fullName" [(ngModel)]="fullName" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required minlength="6" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Password</mat-label>
      <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required />
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      class="full-width"
      type="submit"
      [disabled]="loading">

      <ng-container *ngIf="!loading; else loadingTpl">
        Criar Conta
      </ng-container>

      <ng-template #loadingTpl>
        <mat-spinner diameter="20"></mat-spinner>
      </ng-template>

    </button>

    <div class="link">
      Já tens conta? <a routerLink="/login">Entra aqui</a>
    </div>

  </form>
</app-auth-layout>
