<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img src="/imagens/emprega-angola-logo.png" title="Empregangola" style="width:100px;" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar"><i class="gg-menu-right"></i></button>
        <button class="btn btn-toggle sidenav-toggler"><i class="gg-menu-left"></i></button>
      </div>
      <button class="topbar-toggler more"><i class="gg-more-vertical-alt"></i></button>
    </div>
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i><p>Paineis</p><span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li><a href="../demo1/index.html"><span class="sub-item">Painel de Resultados</span></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#base">
            <i class="fas fa-user-circle"></i><p>Perfil</p><span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li><a href="/utilizador"><span class="sub-item">Dados do Utilizador</span></a></li>
              <li><a href="#"><span class="sub-item">Foto de Perfil</span></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#sidebarLayouts">
            <i class="fas fa-graduation-cap"></i><p>Centro de Formação</p><span class="caret"></span>
          </a>
          <div class="collapse" id="sidebarLayouts">
            <ul class="nav nav-collapse">
              <li><a href="#"><span class="sub-item">Criar Formações</span></a></li>
              <li><a href="#"><span class="sub-item">Formações Disponíveis</span></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#forms">
            <i class="fas fa-user-graduate"></i><p>Profissionais</p><span class="caret"></span>
          </a>
          <div class="collapse" id="forms">
            <ul class="nav nav-collapse">
              <li><a href="#"><span class="sub-item">Detalhes Profissionais</span></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-suitcase"></i><p>Recrutadores</p><span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li><a href="#"><span class="sub-item">Detalhes da Empresa</span></a></li>
              <li><a href="#"><span class="sub-item">Logo Marca</span></a></li>
              <li><a href="#"><span class="sub-item">Nova Vaga</span></a></li>
              <li><a href="#"><span class="sub-item">Vagas Disponíveis</span></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#maps">
            <i class="fas fa-cog"></i><p>Preferências</p><span class="caret"></span>
          </a>
          <div class="collapse" id="maps">
            <ul class="nav nav-collapse">
              <li><a href="#"><span class="sub-item">Preferências</span></a></li>
              <li><a href="#"><span class="sub-item">Opções de Sistema</span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
