<!-- utilizador.component.html -->
<div class="wrapper">

  <app-besidebar />

  <div class="main-panel">

    <app-beheader [nomeUtilizador]="'Mário'"
                  [emailUtilizador]="'info@lea.co.ao'"
                  [notificacoes]="4" />

    <div class="container">
      <div class="page-inner">

        <!-- Form Starts Here -->
        <form [formGroup]="form" (ngSubmit)="guardar()">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Dados do Utilizador</div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="tipUtilizador">Tipo de Utilizador</label>
                        <select class="form-select" id="tipUtilizador" disabled>
                          <option>Utilizador Normal</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="nomeUtilizador">Nome de Utilizador</label>
                        <input type="text" class="form-control" id="nomeUtilizador" placeholder="Nome de Utilizador" formControlName="nomeUtilizador" />
                      </div>
                      <div class="form-group">
                        <label for="nomeCompleto">Nome Completo</label>
                        <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo" formControlName="nomeCompleto" />
                        <div class="text-danger" *ngIf="form.get('nomeCompleto')?.touched && form.get('nomeCompleto')?.hasError('required')">O nome completo é obrigatório.</div>
                        <div class="text-danger" *ngIf="form.get('nomeCompleto')?.touched && form.get('nomeCompleto')?.hasError('minlength')">O nome deve ter pelo menos 3 caracteres.</div>
                        <div class="text-danger" *ngIf="form.get('nomeCompleto')?.touched && form.get('nomeCompleto')?.hasError('pattern')">O nome não pode conter números.</div>
                      </div>
                      <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone" />
                        <div class="text-danger" *ngIf="form.get('telefone')?.touched && form.get('telefone')?.hasError('required')">O número de telefone é obrigatório.</div>
                        <div class="text-danger" *ngIf="form.get('telefone')?.touched && form.get('telefone')?.hasError('pattern')">O telefone deve começar com + e conter exatamente 12 dígitos.</div>
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" />
                        <div class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">O email é obrigatório.</div>
                        <div class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">Email inválido.</div>
                        <div class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('pattern')">O email não está num formato válido.</div>
                      </div>
                      <div class="form-group">
                        <label for="caixaPostal">Caixa Postal</label>
                        <input type="text" class="form-control" id="caixaPostal" placeholder="Caixa Postal" formControlName="caixaPostal" />
                        <div class="text-danger" *ngIf="form.get('caixaPostal')?.touched && form.get('caixaPostal')?.invalid">Caixa postal inválida.</div>
                      </div>
                      <div class="form-group">
                        <label for="pais">País</label>
                        <select class="form-select" id="pais" formControlName="pais">
                          <option>Angola</option>
                          <option>Portugal</option>
                          <option>Moçambique</option>
                          <option>Cabo Verde</option>
                          <option>Brasil</option>
                        </select>
                        <div class="text-danger" *ngIf="form.get('pais')?.touched && form.get('pais')?.hasError('required')">O país é obrigatório.</div>
                      </div>
                      <div class="form-group">
                        <label for="local">Local</label>
                        <select class="form-select" id="local" formControlName="local">
                          <option>Luanda</option>
                          <option>Lisboa</option>
                          <option>Lubango</option>
                          <option>Cidade da Praia</option>
                          <option>Maputo</option>
                        </select>
                        <div class="text-danger" *ngIf="form.get('local')?.touched && form.get('local')?.hasError('required')">O local é obrigatório.</div>
                      </div>
                      <div class="form-group">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <input type="text" class="form-control" id="dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento" />
                        <div class="text-danger" *ngIf="form.get('dataNascimento')?.touched && form.get('dataNascimento')?.hasError('required')">A data de nascimento é obrigatória.</div>
                        <div class="text-danger" *ngIf="form.get('dataNascimento')?.touched && form.get('dataNascimento')?.hasError('pattern')">O formato deve ser dd-mm-yyyy.</div>
                        <div class="text-danger" *ngIf="form.get('dataNascimento')?.touched && form.get('dataNascimento')?.hasError('idadeMinima')">Deve ter pelo menos 18 anos.</div>
                      </div>
                      <div class="form-group">
                        <label>Gênero</label><br />
                        <div class="d-flex gap-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="genero1" value="1" formControlName="genero" />
                            <label class="form-check-label" for="genero1">Feminino</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="genero2" value="2" formControlName="genero" />
                            <label class="form-check-label" for="genero2">Masculino</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="sobreMim">Sobre Mim</label>
                        <textarea class="form-control" id="sobreMim" rows="5" formControlName="sobreMim"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-action">
                  <button class="btn btn-success" type="submit">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Form Ends Here -->

      </div>
    </div>

    <app-befooter />

  </div>
</div>
